.header {
    background: #ff6600;
  }
  .nav-bar {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 50px;
  }
  .nav-bar a{
 
    text-decoration: none;
    color: #000;
  }
  .title {
    font-size: 20px;
    margin-right: 30px;
  }
  .menu-bar {
    display: flex;
  }
  .menu-bar > a {
    padding: 2px 15px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #000;
  }
  .menu-bar > a:last-child {
    border: none;
  }
  
  .menu-bar > a:hover,
  .menu-bar > a:active,
  .menu-bar > a.active {
    color: #fff;
  }
  @media (max-width: 767px) {
    .title {
      font-size: 18px;
      margin-right: 10px;
      margin-left: 10px;
    }
    .menu-bar {
      display: flex;
    }
    .menu-bar > a {
      padding: 2px 5px;
      font-size: 14px;
    }
  }
  